<html lang="en">
        
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Search And Authentication App</title>

        <link rel="stylesheet" href="css/index.css"/>
    
    </head>
    
    <body>

        <input id="hidden-current-user" type="hidden" name="current_user" value="Guest"/>
       
        <input id="id_token" type="hidden" name="bearer_token" value="none"/>
        
        <section id="main-content">
            {main-content}           
        </section>

        <script src="js/index.js"></script>
        
    </body>
    
</html>