
<link rel="stylesheet" href="css/form.css"/>

<div id="home-div">
    <button id="btn-home">Home</button>
</div>   

<form id="edit-meaning-form">

    <h2 id="form-title">Edit Definition</h2>

    <div class="form-element">
        <label for="id_word">Word To Edit: </label>
        <input id="id_word" type="text" name="word" />
        <button id="btn-fetch-meaning">Look Up</button>        
    </div>

    <div class="form-element">
        <label for="id_meaning">Definition</label>
        <br/>
        <textarea id="id_meaning" name="meaning" rows="5" cols="60">
        </textarea>    
    </div>

    <!-- container for addword messages -->
    <h3 id="edit-msg-container"></h3>

    <div class="form-element">
        <button id="btn-submit-edit">Update</button>        
    </div>                               

</form>