<div>
    <span id="user-title">
        Current User: <span id='current-user'>Guest</span>
    </span>
    <span id="auth-div">
        <button id="btn-login-form">Login</button>
        <button id="btn-register-form">Register</button> 
    </span>
</div>

<h3 id="search-title">A Little Search Engine</h3>

<div>
    <input id="search-box" placeholder=" type a word " type="text">
    <button id='go-button'>Go</button>
</div>

<div id='suggestion-container'></div>

<div>
    <br/>
    <div id="word-placeholder"></div> 
    <div id="meaning-placeholder"></div>
</div>

<div id="edit-div">
    <button id="btn-add-word">Add Word</button>
    <button id="btn-edit-meaning">Edit Meaning</button>                  
</div>    

<h3 id="auth-error"></h3>